{% extends "base.html" %}

{% block conteudo %}


<div class="header">
    <div class="titulo">
        <img src="/static/img/logo.png" alt="slogam" class="logo">
    </div>
    <nav class="lista">
        <a href="#">Início</a>
        <a href="#">Séries</a>
        <a href="#">Filmes</a>
        <a href="#">Infantil</a>
        <a href="#">Canais</a>
        <a href="{{url_for('post_filme')}}">Cadastrar</a>
    </nav>
    <div class="pesquisa">
        <img src="/static/img/lupa.png" alt="lupa" class="lupa">
        <input class="barra" type="text" placeholder="Pesquise...">
    </div>
</div>
<div class="formulario">
    <h2>Cadastrar Filme</h2>
    <form method="POST">
        <label>
            Título:
            <input type="text" name="titulo" placeholder="Título do filme" required>
        </label>
        <label>
            Tempo de Duração:
            <input type="text" name="duracao" placeholder="Ex: 2h 15min" required>
        </label>
        <label>
            Descrição:
            <textarea name="descricao" placeholder="Descreva o filme" rows="5" required></textarea>
        </label>

        <label>
            Trailer (URL):
            <input type="url" name="trailer" placeholder="Link do trailer">
        </label>
        <label>
            Data de Lançamento:
            <input type="date" name="lancamento" required>
        </label>
        <label>
            Gênero:
            <input type="text" name="genero" placeholder="Ex: Ação, Comédia" required>
        </label>
        <label>
            Diretor:
            <input type="text" name="diretor" placeholder="Nome do diretor" required>
        </label>
        <div class="botoes">
            <button type="submit">Salvar</button>
            <button type="reset">Limpar</button>
        </div>
    </form>
</div>
{% endblock conteudo %}
