{% extends "base_pag.html" %}

{% block conteudo %}

<div class="formulario">
    <div class="fundo_formulario">
        <form class="form_cadastro" action="{{url_for('definir_genero', var_id = var_id_f)}}" method="post">
            <div class="form_cadastro_title">
                <div>
                    <h1>Definir Genero:</h1>
                </div>
                {% for genero in var_generos %}
                <div class="checagem">
                    <label>
                        <input type="checkbox" name="form_genero">
                        {{genero.nome_genero}}
                    </label>
                </div>
                {% endfor %}
                <div class="botoes">
                    <button type="submit">Cadastrar</button>
                    <button type="reset">Limpar</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock conteudo %}