{% extends "base_pag.html" %}

{% block conteudo %}

<div class="formulario">
    <div class="fundo_formulario">
        <form class="form_cadastro" action="{{url_for('definir_genero')}}" method="post">
            <div class="form_cadastro_title">
                <h1>Cadastrar usuario:</h1>
                <label>
                    {% for genero in var_generos %}
                    {{genero.nome_genero}}
                    <input type="checkbox" name="form_nome_genero" placeholder="Digite o Nome do Genero" required>
                    {% endfor %}
                </label>
                <div class="botoes">
                    <button type="submit">Cadastrar</button>
                    <button type="reset">Limpar</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock conteudo %}