{% extends "base_pag.html" %}

{% block conteudo %}
<div class="formulario">
    <div class="fundo_formulario">
        <form class="form_cadastro" action="{{url_for('cadastro_diretor')}}" method="post">
            <div class="form_cadastro_title">
                <h1>Cadastrar Diretor:</h1>
                <label>
                    Nome do Diretor:
                    <input type="text" name="form_nome_diretor" placeholder="Digite o Nome do Diretor" required>
                </label>
                <div class="botoes">
                    <button type="submit" class="botao_input_style">Cadastrar</button>
                    <button type="reset" class="botao_input_style">Limpar</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock conteudo %}