<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>HOME</title>
  <link rel="stylesheet" href="/static/css/Inicio.css">
</head>
<body>
  <header class="header">
    <div class="titulo">
      <img src="/static/img/logo.png" alt="slogam" class="logo">
    </div>

    <nav class="lista">
      <a href="{{url_for('home')}}">Início</a>
      <a href="#">Séries</a>
      <a href="#">Filmes</a>
      <a href="#">Infantil</a>
      <a href="#">Canais</a>
      <a href="#">Cadastrar</a>
    </nav>

    <div class="pesquisa">
      <img src="/static/img/lupa.png" alt="lupa" class="lupa">
      <input class="barra" type="text" placeholder="Pesquise...">
    </div>
  </header>
</body>
</html>