{% extends "Base_Log.html" %}

{% block titulo %}Login{% endblock titulo %}

{% block conteudo %}
<div class="main">
    <form class="form_cadastro" action="{{url_for('logar_usuario')}}" method="post">
        <div class="form_cadastro_title">
            <h1>Login de usuario</h1>
            <label>
                E-mail
                <input type="email" name="email_log" placeholder="Digite seu email" required>
            </label>
            <label>
                Senha
                <input type="password" name="senha_log" placeholder="Digite sua senha" required>
            </label>
            <div class="botoes">
                <a href="{{url_for('cadastrar_user')}}" class="botao_input_style">
                    Cadastrar
                </a>
                <button type="submit" class="botao_input_style">Logar</button>
            </div>
        </div>
    </form>
</div>
{% endblock conteudo %}