{% extends "Base_Log.html" %}

{% block titulo %}Login{% endblock titulo %}

{% block conteudo %}
<div class="main">
    <form class="form_cadastro" action="{{url_for('logar_usuario')}}" method="post">
        <div class="form_cadastro_title">
            <h1>Login de usuario</h1>
            <label for="email">
                E-mail
            </label>
            <input id="email" type="email" name="email_log" placeholder="Digite seu email" required>
            <label for="senha">
                Senha
            </label>
            <input id="senha" type="password" name="senha_log" placeholder="Digite sua senha" required>
            <div class="botoes">
                <a href="{{url_for('cadastrar_user')}}" class="btn_link">Cadastrar</a>
                <button type="submit">Logar</button>
            </div>
        </div>
    </form>
</div>
{% endblock conteudo %}