{% extends "base_pag.html" %}

{% block conteudo %}
<header class="header">
    <div class="titulo">
        <img src="/static/img/logo.png" alt="slogam" class="logo">
    </div>
    <nav class="lista">
        <a href="{{url_for('home')}}">Filmes</a>
        <a href="{{url_for('genero')}}">Genero</a>
        <a href="#">Diretor</a>
        <a href="#">Ator</a>
        <a href="{{url_for('cadastro')}}">Cadastrar</a>
    </nav>
    <div class="pesquisa">
        <img src="/static/img/lupa.png" alt="lupa" class="lupa">
        <input class="barra" type="text" placeholder="Pesquise...">
    </div>
</header>

{% endblock conteudo %}
