{% extends "base.html" %}

{% block conteudo %}

  <link rel="stylesheet" href="/static/css/home.css">
  <header class="header">
    <div class="titulo">
      <img src="../static/img/logo.png" alt="slogam" class="logo">
    </div>

    <nav class="lista">
      <a href="#">Início</a>
      <a href="#">Séries</a>
      <a href="#">Filmes</a>
      <a href="#">Infantil</a>
      <a href="#">Canais</a>
      <a href="{{url_for('/Cadas')}}">Cadastrar</a>
    </nav>

    <div class="pesquisa">
      <img src="../static/img/lupa.png" alt="lupa" class="lupa">
      <input class="barra" type="text" placeholder="Pesquise...">
    </div>
  </header>


{% endblock conteudo %}